<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand btn btn-success">APP</a>
        <a id="logout" class="btn btn-danger d-none" href="/logout"> Logout </a>
    </div>
</nav>