<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css" />
  <title>Aplication</title>
</head>
<body onload="redirect()" class="d-flex flex-column min-vh-100"></body>
  <header>
    <nav>
      <%- include('../partials/navbar')%>
    </nav>
  </header>
  
  <main>
    <div>
      <div>
        <p>Error</p>
        <p>Redirigiendo en <span id="time">3</span> segundos</p>
      </div>
      <div>
        <a href="/login">
          <button class="btn btn-warning mt-5">Volver a Log in</button>
        </a>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer')%>
  </footer>

  <script>
    function redirect() {
      setInterval(() => {
        let a = parseInt(document.getElementById("time").innerText)
        if (a > 0) {
          a -= 1
          document.getElementById("time").innerText = a
        } else {
          clearInterval()
          location.href = "/login"
        }
      }, 1000)
    }
  </script>
</body>
</html>