<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css" />
  <title>Aplication</title>
</head>

<body>
  <header>
    <nav>
      <%- include('../partials/navbar')%>
    </nav>
  </header>
  
  <main>
    <div>
      <h1>Login</h1>
      <h3 id="div-compres"></h3>
      <form method="post">
        <div id="login-div">
          <input type="text" id="username" name="username" placeholder="Username" />
          <input type="password" id="password" name="password" value="" placeholder="Password"/>
          <button type="submit" id="login-btn">
            Login
          </button>          
        </div>
      </form>
    </div>    
  </main>

  <footer>
    <%- include('../partials/footer')%>
  </footer>

  <script src="/socket.io/socket.io.js"></script>
  <script type="module" src="/login.js"></script>
</body>
</html>