<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css" />
  <title>Aplication</title>
</head>

<body>
  <header>
    <nav>
      <%- include('../partials/navbar')%>
    </nav>
  </header>
  
  <footer>
    <%- include('../partials/footer')%>
  </footer>

  <script type="text/javascript">
    setTimeout(function () {
      document.location.href = "/login";
    }, 2000);
  </script>
</body>
</html>